{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    {{ include('_header_start.html.twig', {'title': 'Liste des utilisateurs'}) }}
    <div class="container-xxl pb-5">
        <div class="container">

            <div class="d-md-flex justify-content-md-end">
                <input type="text" placeholder="Recherche..." id="searchField" class="form-control me-3" style="width:auto;">
                <a href="{{ path('app_admin_user_new') }}" class="btn btn-success">Ajouter un utilisateur</a>
            </div>

            <div id="table-sortable"class="user_table table table-hover align-middle" style="text-align:center; margin-top:10px;">
            </div>
        </div>
    </div>
    
    <script>
        var columns = {
            id:'#',
            email:'Email',
            role:'Rôle',
            pseudo:'Pseudo',
            lastname:'Nom',
            firstname:'Prénom',
            status:'Actif / Inactif',
            createdAt:'Créer le',
            updatedAt:'Mis à jour le',
            actions:'Actions'
        }
        document.addEventListener("DOMContentLoaded", function(event) {
            var table = $('#table-sortable').tableSortable({
                data: [],
                columns,
                responsive: {
                    1100: {
                        columns: {
                            id: '#',
                            email: 'Email',
                            status:'Actif / Inactif',
                            actions:'Actions',
                        },
                    },
                    
                },
                
                rowsPerPage: 5,
                pagination: true,
                searchField : $('#searchField'),
                nextText:'<span>Suivant</span>',
                prevText:'<span>Précédent</span>',

            });
            
            $.ajax({
                method: "GET",
                url: window.location.protocol+"//"+window.location.hostname+":"+window.location.port+"/api/users",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                headers: {
                    "Authorization": "Bearer {{app.session.get('token')}}"
                },
                processData: false,
            })
            .done(function( data ) {
                // Push data into existing data
                //table.setData(data, null, true);

                // or Set new data on table, columns is optional.
                table.setData(data, null);
            });
        });
    </script>
    
{% endblock %}
