{% extends 'base.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
    {{ include('_header_start.html.twig', {'title': 'Nouvel utilisateur'}) }}
    <div class="container-xxl pb-5">
        <div class="container">

            <div class="d-md-flex justify-content-md-end me-3">
                <a href="{{ path('app_admin_user_index') }}"  class="btn btn-outline-secondary btn-sm">Retourner à la liste</a>
            </div>

            {{ include('admin/user/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
