{% extends 'base.html.twig' %}

{% block title %}Création d'un utilisateur{% endblock %}

{% block body %}
    <div class="container-fluid mb-3">
        <h1>Création d'un utilisateur</h1>

        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="{{ path('app_admin_user_index') }}"  class="btn btn-outline-secondary btn-sm">Retourner à la liste</a>
        </div>

        {{ include('admin/user/_form.html.twig') }}
    </div>
{% endblock %}
