{% extends 'base.html.twig' %}

{% block title %}Modifier la réponse : {{answer.answer}}{% endblock %}

{% block body %}
    {{ include('_header_start.html.twig', {'title': 'Edition de la réponse : '~answer.answer }) }}
    <div class="container-xxl pb-5">
        <div class="container">
            <div class="d-flex flex-row-reverse bd-highlight align-items-start">
                <a href="{{ path('app_backoffice_enigma_show', {'id': answer.enigma.id}) }}" class="btn btn-outline-secondary btn-sm">Retour à la question</a>
            </div>
            {{ include('backoffice/answer/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        </div>
    </div>
{% endblock %}
