{% extends 'backoffice/back_base.html.twig' %}

{% block title %}Modifier la réponse : {{answer.answer}}{% endblock %}

{% block back_body %}
    <div class="d-flex flex-column align-items-end">
        <a href="{{ path('app_backoffice_enigma_show', {'id': answer.enigma.id}) }}" class="btn btn-outline-secondary btn-sm">Retour à la question</a>
    </div>
    <div class="clearfix"></div>
    {{ include('backoffice/answer/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
{% endblock %}
