{% extends 'backoffice/back_base.html.twig' %}

{% block title %}Créer une réponse{% endblock %}

{% block back_body %}
    <div class="d-flex flex-row-reverse bd-highlight align-items-start">
        <a href="{{ path('app_backoffice_enigma_show', {'id': enigma.id}) }}" class="btn btn-outline-secondary btn-sm">Retour à la question</a>
    </div>

    {{ include('backoffice/answer/_form.html.twig') }}
{% endblock %}
