{% extends 'base.html.twig' %}

{% block title %}Nouvelle instance{% endblock %}

{% block body %}
    <div class="container-fluid mb-3">
        <h1>Créez une nouvelle instance pour le jeu {{ game.title }}</h1>

         <div class="d-grid gap-2 my-5 d-md-flex justify-content-md-start">
            <a href="{{ path('app_backoffice_instance_index', {'gameSlug': game.slug})  }}"  class="btn btn-outline-secondary btn-sm">Retour à la liste des instances</a>
        </div>

        {{ include('backoffice/instance/_form.html.twig') }}

    </div>
{% endblock %}
