{% extends 'backoffice/back_base.html.twig' %}

{% block title %}Nouvelle instance pour le jeu {{ game.title }}{% endblock %}

{% block back_body %}
    <div class="d-flex flex-column align-items-end">
        <a href="{{ path('app_backoffice_instance_index', {'gameSlug': game.slug})  }}"  class="btn btn-outline-secondary btn-sm">Retour à la liste des instances</a>
    </div>
    <div class="clearfix"></div>

    {{ include('backoffice/instance/_form.html.twig') }}
{% endblock %}
