{% extends 'backoffice/back_base.html.twig' %}

{% block title %}Nouvelle instance pour le jeu {{ game.title }}{% endblock %}

{% block back_body %}
    <div class="d-flex flex-row-reverse bd-highlight align-items-start">
        <a href="{{ path('app_backoffice_game_show', {'slug': game.slug})  }}"  class="btn btn-outline-secondary btn-sm">Retour au jeu</a>
    </div>

    {{ include('backoffice/instance/_form.html.twig') }}
{% endblock %}
