{% extends 'base.html.twig' %}

{% block title %}Modifier Checkpoint{% endblock %}

{% block body %}
<div class="container-fluid mb-3">
    <h1>Modifier Checkpoint {{ checkpoint.title }} du jeu {{ game.title }}</h1>

    <div class="d-grid gap-2 my-5 d-md-flex justify-content-md-start">

        <a href="{{ path('app_backoffice_checkpoint_index', {'gameSlug': game.slug }) }}" class="btn btn-outline-secondary btn-sm">Retouner à la liste</a>
    </div> 

    {{ include('backoffice/checkpoint/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
</div>

{% endblock %}
