{% extends 'base.html.twig' %}

{% block title %}Nouveau checkpoint pour le jeu {{ game.title }}{% endblock %}

{% block body %}
    {{ include('_header_start.html.twig', {'title': 'Ediction du Checkpoint '~checkpoint.title~' du jeu '~checkpoint.game.title }) }}
    <div class="container-xxl pb-5">
        <div class="container">
            <div class="d-flex flex-row-reverse bd-highlight align-items-start">
                <a href="{{ path('app_backoffice_game_show', {'slug': game.slug }) }}" class="btn btn-outline-secondary btn-sm">Retourner au jeu</a>
            </div>

            {{ include('backoffice/checkpoint/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
