{% extends 'base.html.twig' %}

{% block title %}New Checkpoint{% endblock %}

{% block body %}
    <h1>Create new Checkpoint</h1>

    {{ include('backoffice/checkpoint/_form.html.twig') }}

{#     <a href="{{ path('backoffice_checkpoint_index') }}">back to list</a> #}
{% endblock %}
