<form method="post" action="{{ path('back_checkpoint_delete', {'id': checkpoint.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ checkpoint.id) }}">
    <button class="btn">Delete</button>
</form>
