{% extends 'base.html.twig' %}

{% block title %}New Checkpoint{% endblock %}

{% block body %}
    <h1>Create new Checkpoint</h1>

    {{ include('back/checkpoint/_form.html.twig') }}

    <a href="{{ path('back_checkpoint_index') }}">back to list</a>
{% endblock %}
