body {
	background-color: #e8d0b359;
	color: #86340A;
}

a{
	color:#7EB5A6;
}
.btn-primary:hover
{
	background-color: #7eb5a6;
	border-color: #7eb5a6;
}

.btn-primary
{
	background-color: #7eb5a6c4;
	border-color: #7eb5a6c4;
}

.btn-primary:active
{
	background-color: #7eb5a6;
	border-color: #7eb5a6;
}

.container
{
	/*background-color: #E8D0B3;
	border-radius:35px;
	box-shadow: 0px 15px 50px 0px rgb(0 0 0 / 10%);*/
}

.p-6
{
	padding: 2.5rem;
}

.logo-lost-password
{
	filter: invert(1) sepia(1) saturate(5) hue-rotate(258deg);

}

label.required:after {
	content: " *";
	color:red;
}

#reader__dashboard
{
	/*display:none;*/
}

/* Barre de navigation */
.nav-link {
	cursor: pointer;
	position: relative;
	white-space: nowrap;
	color: var(--color-text);
}

.nav-link::before {
	position: absolute;
	width: 100%;
	height: 1px;
	background: currentColor;
	top: 100%;
	left: 0;
	pointer-events: none;
	content: '';
	/* show by default */
	transform-origin: 100% 50%;
	transform: scale3d(0, 1, 1);
	transition: transform 0.3s;
	height:4px;
	background-color: #7eb5a6;
}

.nav-link:hover::before {
	transform-origin: 0% 50%;
	transform: scale3d(1, 1, 1);
}

.nav-link.active::before
{
	position: absolute;
	width: 100%;
	height: 1px;
	background: currentColor;
	top: 100%;
	left: 0;
	pointer-events: none;
	content: '';
	/* show by default */
	transform-origin: 0% 50%;
	transform: scale3d(1, 1, 1);
	transition: transform 0.3s;
	height:4px;
	background-color: #7eb5a6;
}

/* Carte pour la liste des jeux */
.vgr-cards .card
{
	display: flex;
	flex-flow: wrap;
	flex: 100%;
	margin-bottom: 40px;
}

.vgr-cards .card:nth-child(even) .card-img-body {
	order: 2;
}

.vgr-cards .card:nth-child(even) .card-body {
	padding-left: 0;
	padding-right: 1.25rem; 
}

@media (max-width: 576px) {
	.vgr-cards .card
	{
		display: block;
	}
}

.vgr-cards .card-img-body {
	flex: 1;
		overflow: hidden;
		position: relative;
}

@media (max-width: 576px) {
	.vgr-cards .card-img-body {
		width: 100%;
		height: 200px;
		margin-bottom: 20px;
	}
}

.vgr-cards .card-img
{
	width: 100%;
	height: auto;
	/*position: absolute;*/
	margin-left: 50%;
	transform: translateX(-50%);
}

@media (max-width: 1140px) {
	.vgr-cards .card-img
	{
		margin: 0;
		transform: none;
		width: 100%;
		height: auto;
	}
}

.vgr-cards .card-body {
	flex: 2;
	padding: 0 0 0 1.25rem;
}

@media (max-width: 576px) {
	.vgr-cards .card-body {
		padding: 0;
	}
}

@media (max-width: 767px) {
    .carousel-inner-multiple .carousel-item > div {
        display: none;
    }
    .carousel-inner-multiple .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner-multiple .carousel-item.active,
.carousel-inner-multiple .carousel-item-next,
.carousel-inner-multiple .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
    
    .carousel-inner-multiple .carousel-item-end.active,
    .carousel-inner-multiple .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner-multiple .carousel-item-start.active, 
    .carousel-inner-multiple .carousel-item-prev {
      transform: translateX(-25%);
    }
}

.carousel-inner-multiple .carousel-item-end,
.carousel-inner-multiple .carousel-item-start { 
  transform: translateX(0);
}

/* show game page */ 
#games-cards-ic
{
	flex-direction: row;
}

@media (max-width: 800px) {
	#games-cards-ic {
	  flex-direction: column;
	}
}

/* Show profile page */
.img-profile
{
	border-radius: 50%;
	max-width: 15rem;
	max-height: 15rem;
}

.form-control
{
	background-color: #e8d0b359;
  	border: none;
}

.score
{
	background-color: #C36839;
	color: white
}

/* errors pages */
.error-custom
{
	height:100vh;
}

.error_img
{
	width: 100%;
	padding: 2rem;
}

@media (min-width: 768px) {
    .error_img{
		width: 50%;
	}
}

@media (min-width: 1024px) {
	.error_img{
		width: 30%;
	}
}