
{% if is_granted('ROLE_ORGANISATEUR') %}

<form method="post" action="{{ path('app_backoffice_game_delete', {'id': game.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer le jeu {{game.title}} ?\nSes checkpoints / questions seront mis à la poubelle !');" class="mb-2">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ game.id) }}">
    <button title="Supprimer" class="btn btn-danger btn-sm me-2 mb-3"><i class="display-6 bi bi-trash"></i></button>
</form>

{% endif %}
