{% extends 'base.html.twig' %}

{% block title %}Modifier le jeu{% endblock %}

{% block body %}
    <h1>Modifier le jeu</h1>

    {{ include('backoffice/game/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_backoffice_game_index') }}" class="btn btn-primary">Mes jeux</a>

{% endblock %}
