{% extends 'backoffice/back_base.html.twig' %}

{% block title %}Liste de vos jeux{% endblock %}

{% block back_body %}

    <div class="d-flex flex-column align-items-end">
        <a href="{{ path('app_backoffice_game_new') }}" class="btn btn-primary mb-3">Créer un nouveau jeu</a>
    </div>
    <div class="clearfix"></div>
    {{ include('front/_notice_message.html.twig') }}

    {# NAV BACKOFFICE GAME #}

    <ul class="nav nav-tabs">
        <li class="nav-item ">
            <a class="nav-link active" data-bs-toggle="tab" href="#active_games">Mes jeux actifs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#inactive_games">Mes jeux archivés</a>
        </li>
    </ul>

    {# END NAV BACKOFFICE #}

    {# CARDS #}

    {% if is_granted('ROLE_ORGANISATEUR') %}
    
        <div class="tab-content">
            <div class="tab-pane active" id="active_games">
                {% for game in actives_games %}
                    {{ include('backoffice/game/_game_card.html.twig') }}
                {% else %}
                    <div class="d-flex p-2 bd-highlight">Vous n'avez aucun jeu pour le moment !</div>
                {% endfor %}

            </div>


            <div class="tab-pane fade" id="inactive_games">
                {% for game in inactives_games %}
                    {{ include('backoffice/game/_game_card.html.twig') }}
                {% else %}
                    <div class="d-flex p-2 bd-highlight">Vous n'avez aucun jeu pour le moment !</div>
                {% endfor %}
            </div>
        </div>


    {% endif %}

    {# END CARDS #}

{% endblock %}
