{% extends 'backoffice/back_base.html.twig' %}

{% block title %}Créer un nouveau jeu{% endblock %}

{% block back_body %}
    <div class="d-flex flex-row-reverse bd-highlight align-items-start">
        <a href="{{ path('app_backoffice_game_index') }}" class="btn btn-primary">Mes jeux</a>
    </div>
    {{ include('backoffice/game/_form.html.twig') }}
{% endblock %}
