{% extends 'backoffice/back_base.html.twig' %}

{% block title %}Créer un nouveau jeu{% endblock %}
{% block title_admin %}Créer un nouveau jeu{% endblock %}

{% block back_body %}
    <div class="d-flex flex-column align-items-end">
        <a href="{{ path('app_backoffice_game_index') }}" class="btn btn-primary">Mes jeux</a>
    </div>
    <div class="clearfix"></div>
    {{ include('backoffice/game/_form.html.twig') }}
{% endblock %}
