{% extends 'base.html.twig' %}

{% block title %}New Game{% endblock %}

{% block body %}
    <h1>Créer un nouveau jeu</h1>

    {{ include('backoffice/game/_form.html.twig') }}

    <a href="{{ path('app_backoffice_game_index') }}" class="btn btn-primary">Mes jeux</a>
    
{% endblock %}
