{% extends 'base.html.twig' %}

{% block title %}{{ instance.title }}{% endblock %}

{% block body %}
<div class="container-fluid mb-3">
    <h1>Position des joueurs dans l'instance {{ instance.title }}</h1>
</div>



{% endblock %}
