<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5">
    <div class="container py-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown">{{title}}</h1>
        {{ include('_breadcrumb.html.twig') }}
    </div>
</div>
<!-- Page Header End -->

{# Flash message #}
{{ include('front/_notice_message.html.twig') }}