{% if pages is defined and pages > 1 %}
    {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
    {% set currentPage = app.request.get('page') %}
    {% if currentPage == null %}
        {% set currentPage = 1 %}
    {% else %}
        {% set prevPage = currentPage - 1 %}
        
    {% endif %}
    {% set nextPage = currentPage + 1 %}
    
    <nav class="mt-4">
        <ul class="pagination justify-content-end">
            <li class="page-item {% if currentPage <= 1 %} disabled {% endif %}">
                <a class="page-link" {% if currentPage > 1 %} href="{{currentPath ~ '?page=' ~ prevPage}}" {% endif %}>&laquo;</a>
            </li>
            {% for page in 1..pages %}
                <li class="page-item {% if page == currentPage %} active {% endif %}" aria-current="page"><a class="page-link" href="{{currentPath ~ '?page=' ~ page}}">{{page}}</a></li>
            {% endfor %}
            <li class="page-item">
                <a class="page-link" href="{{currentPath ~ '?page=' ~ nextPage}}">&raquo;</a>
            </li>
        </ul>
    </nav>
{% endif %}