{% extends 'base.html.twig' %}

{% block title %}YourQuest{% endblock %}

{% block body %}

    {# Carousel #}

    {{ include('_homeCarousel.html.twig') }}

    {# End Carousel #}

    {# Presentation #}
    <div class="row align-items-start mt-3">
        <div class="col">
            <div class="container flex-column align-items-center d-flex justify-content-evenly" style="height: 600px;">
                <h2>Bienvenue sur YourQuest! </h2>
                
                <div>
                Entrez dans une aventure connectée en créant votre jeu de piste dans le monde réel.
                </div>

                <a href="{{ path('app_backoffice_game_new')}}" type="button" class="btn btn-lg btn-primary fw-bold"> Créer votre jeu </a>

            </div>
        </div>
    </div>
    {# Presentation #}
    
{% endblock %}
