{% extends 'base.html.twig' %}

{% block title %}Accès refusé{% endblock %}

{% block body %} 
    <div class="text-center">
        <h1>Il n'y a rien à scanner ici ! </h1>
        <div>
            <a href="{{ path('front_main') }}"><img class="error403" src="{{ asset('assets/images/errors/Forbidden.png') }}" alt="forbidden"></a>
            <p>
            un indice, pour retrouver votre chemin c'est par ici !
            <a href="{{ path('front_main') }}"><img src="{{ asset('assets/images/favicon.ico') }}" alt="YourQuest" ></a>
            </p>
        </div>
    </div>
{% endblock %}