{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %} 
    <div class="error-custom d-flex flex-column text-center">
        <h1>Oups, vous êtes perdu ?</h1>
        <div>
            <a href="{{ path('front_main') }}">
                <img class="error_img" src="{{ asset('assets/images/errors/Lost.jpg') }}" alt="not_found">
            </a>
            <p>un indice, c'est par ici !</p>
            <a href="{{ path('front_main') }}"><img class="mb-5" src="{{ asset('assets/images/favicon.ico') }}" alt="YourQuest" ></a>
        </div>
    </div>
{% endblock %}